*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(139, 155, 226);
}

.cabeçalho{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
}

.cabeçalho-imagem{
    width: 80%;
    padding: 12px;
}

.lista-cabeçalho{
    display: inline-block;
    padding: 30px;
    color:rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bolder;
}

.escola{
    background-color: 1 ;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 24px 0;
}

.texto-lista{
    display: inline-block;
    list-style-type: none;
}

.escola-imagem{
    width: 200%;
    margin: 46px;
}

.escola-texto{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 20px;
}

.profissional-nome{
    font-size: 15px;
}

.icones{
    width: 30%;
}

.equipe{
    background-color:#C3CDDB;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

.equipe-escola{
    background-color:#C3CDDB;
    margin: 10px;
    display: flex;
    padding: 50px;
    justify-content: space-evenly;

}

.equipe-colunas{
    display: contents;
    list-style-type: none;
    text-align: center;
}

.imagem-equipe {
    width:25%;
}