*{
    margin: 0;
    padding: 0;
}

body{
    background-color:aqua;
}

.cabeçalho {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
}

.cabeçalho-imagem{
    width: 80%;
    padding: 12px;
}

.lista-cabeçalho{
    display: inline-block;
    padding: 30px;
    color:rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bolder;
}

.escola{
    background-image:linear-gradient();
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 24px 0;
}

.texto-lista{
    display: inline-block;
    list-style-type: none;
}

.escola-imagem{
    width: 90%;
    margin: 46px;
}